name: "CI/CD"
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: prepare output directory
        run: mkdir -p flymake-eslint
      - name: copy files
        run: cp -r js/ lisp/ flymake-eslint
      - name: make output tarball
        uses: actions/upload-artifact@v4
        with:
          path: flymake-eslint/**/*
          name: emacs-flymake-eslint

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ success() }}
    permissions:
      contents: write
    steps:
      - name: use output tarball
        uses: actions/download-artifact@v4
        with:
          name: emacs-flymake-eslint
      - run: ls -lha
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: release
          commit_message: ${{ github.event.head_commit.message }}
          user_name: "Zedhugh Chen"
          user_email: "zedhugh@gmail.com"
